{{- $profile := "personal" -}}

{{- if hasKey . "profile" -}}
{{-   $profile = .profile -}}
{{- else if $interactive -}}
{{-   $profile = promptChoice "Select environment profile" (list "personal" "work") -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "What is your email address" -}}
{{- $gpg_signingkey := promptStringOnce . "gpg_signingkey" "What is your GPG signing key ID" -}}

[data]
  profile = {{ $profile | quote }}
  email = {{ $email | quote }}
  gpg_signingkey = {{ $gpg_signingkey | quote }}
  additional_path_entries = []

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{ .Destination }}" }}",
    "{{ "{{ .Source }}" }}",
    "{{ "{{ .Target }}" }}"
  ]
