.oh-my-zsh/.*
.oh-my-zsh/cache/*
.oh-my-zsh/log/**

# Ignore non-macOS files.
{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/homebrew
.Brewfile
.docker/cli-plugins/docker-compose
.docker/cli-plugins/docker-buildx
{{ end }}

# Ignore non-Linux files.
{{ if ne .chezmoi.os "linux" -}}
.chezmoiscripts/linux/**
{{- end }}

# Ignore non-Windows files.
{{ if ne .chezmoi.os "windows" -}}
.chezmoiscripts/windows/**
{{- end }}
