{{- if eq .profile "work" -}}
# Kiro CLI pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.pre.zsh" ]] && builtin source "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.pre.zsh"

{{ end -}}

eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(/opt/homebrew/bin/mise activate zsh)"

export EDITOR="$(which nvim)"
export VISUAL="$(which nvim)"
export PAGER='less'

export GPG_TTY="$(tty)"

[ -f "$HOME/.access_tokens" ] && source $HOME/.access_tokens

{{- range .additional_path_entries }}
export PATH="$PATH:{{ . }}"
{{- end }}

{{- if eq .profile "work" }}

# Kiro CLI post block. Keep at the bottom of this file.
[[ -f "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.post.zsh"
{{ end -}}
