# Install:
#   brew bundle --global
# Sync (cleanup):
#   brew bundle --global --force cleanup

cask_args appdir: "/Applications", require_sha: true

# Homebrew formulae
brew "chezmoi"
{{- if eq .container_runtime "colima" }}
brew "colima"
brew "docker-buildx"
brew "docker-completion"
brew "docker-compose"
brew "docker-credential-helper"
{{- end }}
brew "docker"
brew "eza"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "gnupg"
brew "htop"
brew "jq"
brew "lazygit"
brew "mas"
brew "mise"
brew "neovim"
brew "pinentry-mac"
brew "prettyping"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "zoxide"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"

# Homebrew casks
cask "1password"
cask "1password-cli"
{{- if eq .container_runtime "docker" }}
cask "docker-desktop"
{{- end }}
cask "font-jetbrains-mono-nerd-font"
# cask "istat-menus", args: { require_sha: false }
cask "iterm2"
cask "raycast"
