[include]
  path = ~/.config/delta/themes.gitconfig

[core]
  pager = delta
  excludesfile = ~/.config/git/ignore

[user]
  email = {{ .email | quote }}
  name = Stefan Subich
  {{- if .gpg_signingkey }}
  signingkey = {{ .gpg_signingkey | quote }}
  {{- end }}

[credential]
  helper = osxkeychain

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false
  line-numbers = true

[merge]
  tool = nvimdiff
  conflictstyle = zdiff3

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED \
        -c '$wincmd w' -c 'wincmd J'

[diff]
  tool = vimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main

[fetch]
  prune = true
  pruneTags = true
  all = true

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[branch]
  sort = -committerdate

[column]
  ui = auto

[tag]
  sort = version:refname

[help]
  autocorrect = prompt

[commit]
  {{- if .gpg_signingkey }}
  gpgsign = true
  {{- end }}
  verbose = true
