[user]
  email = {{ .email | quote }}
  name = Stefan Subich
  {{- if .gpg_signingkey }}
  signingkey = {{ .gpg_signingkey | quote }}
  {{- end }}

[alias]
  # List commits in short form, with colors and branch/tag annotations
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

  # List with no colors if you need to chain the out put with Unix pipes
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"

  # List oneline commits showing dates
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  # List oneline commits showing relative dates
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

  # Default look for short git log
  le = log --oneline --decorate

  # Show log as graph
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
  lgn = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --numstat
  lgp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -p

  # Show the history of a file, with diffs
  filelog = log -u
  fl = log -u

  # Find a file path in codebase
  f = "!git ls-files | grep -i"

  # Search/grep your entire codebase for a string
  grep = grep -Ii
  gr = grep -Ii

  # List all your Aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # Basic Shortcuts
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  dc = diff --cached

  # Pull using rebase
  p = pull --rebase

[core]
  excludesfile = ~/.config/git/ignore
  pager = delta

[credential]
  helper = osxkeychain

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.config/delta/themes.gitconfig

[delta]
  navigate = true
  line-numbers = true
  line-numbers-left-style = brightblack
  line-numbers-right-style = brightblack
  line-numbers-minus-style = brightred
  line-numbers-plus-style = brightgreen
  line-numbers-zero-style = brightblack
  side-by-side = false
  syntax-theme = Dracula
  hunk-header-style = syntax
  plus-style = "syntax #2D3E3F"
  minus-style = "syntax #3D313B"

[merge]
  tool = nvimdiff
  conflictstyle = zdiff3

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED \
        -c '$wincmd w' -c 'wincmd J'

[diff]
  tool = vimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[color]
  ui = true

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[init]
  defaultBranch = main

[fetch]
  prune = true
  pruneTags = true
  all = true

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[branch]
  sort = -committerdate

[column]
  ui = auto

[tag]
  sort = version:refname

[help]
  autocorrect = prompt

[commit]
  {{- if .gpg_signingkey }}
  gpgsign = true
  {{- end }}
  verbose = true

[url "git@github.com:"]
	insteadOf = https://github.com/
