#!/bin/sh

# .Brewfile hash: {{ include "dot_config/homebrew/Brewfile" | sha256sum }}
system_type=$(uname -s)

install_brew() {
  # install Homebrew if it's missing
  if ! command -v brew >/dev/null 2>&1; then
    echo "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  fi
}

if [ "$system_type" = "Darwin" ]; then
  install_brew
  if [ -f "$HOME/.Brewfile" ]; then
    echo "Updating homebrew bundle"
    brew bundle --global
  fi
fi
